<!DOCTYPE html>
<html>
<head>
  <title>SCILL Library App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Proza+Libre|Tenor+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <!-- Top container-->
  <div class= "top">
    <img src="/images/logo.png" alt="SCILL logo" id="title">
    <span id="title-text">Welcome to the Library</span>
    <hr />
  </div>

  <!--navigation -->

  <%= render 'layouts/navigation/admin_sidebar' %>
  <div class="erb_content"
    <%= yield %>
  </div>


  <!-- Footer -->
  <footer>
    <p>Written by Cath  -  CodeClan project</p>
  </footer>


</body>
</html>
