<div id="mySidenav" class="sidenav">
  <a href="/admin" id="home">Home<i class="fa fa-home fa-fw"></i></a>
  <a href="/books" id="books">Books<i class="fa fa-book fa-fw"></i></a>
  <a href="/admin/list_borrowers" id="borrowers">Borrowers<i class="fa fa-user fa-fw"></i></a>
  <a href="/admin/list_loans" id="loans">Loans<i class="fa fa-arrow-right fa-fw"></i></a>
</div>
